.settings
.project
.classpath
target
test-output
debug.out
.gwt
.factorypath
*.log
*.sublime-project
*.sublime-workspace
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

PHP/bin
PHP/vendor
composer.phar
