---
http_interactions:
- request:
    method: get
    uri: https://api.carmalink.com:8282/v1/541/data/trip_report
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="CU1ND7JdJqYM2LtBsv7GLN0i", oauth_nonce="LD2WdBKt9gnZ8IVJsfbodddfvTeS7ye95bgvQ4Zj3o",
        oauth_signature="GEoZ0qUpfx7Wx%2FFPteD4z1TmDxc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1359731661", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"configId":1221,"serial":541,"eventStart":1359726667377,"reportTimestamp":1359726780210,"duration":112833,"location":{"longitude":-73.822813,"latitude":42.6263873,"accuracy":5.2770004,"heading":351.4248,"speed":0},"fuelConsumed":0.107131414,"distance":0.7894606,"voltage":14.188472,"inProgress":false},{"configId":1221,"serial":541,"eventStart":1359726667377,"reportTimestamp":1359726667377,"duration":0,"fuelConsumed":0.0008279984,"distance":0,"voltage":14.106437,"inProgress":true},{"configId":1221,"serial":541,"eventStart":1359723726472,"reportTimestamp":1359724763224,"duration":1036752,"location":{"longitude":-73.815266,"latitude":42.628092699999996,"accuracy":4.313,"heading":247.56346,"speed":0},"fuelConsumed":1.4617064,"distance":15.692086,"voltage":14.082335,"inProgress":false},{"co[...]
