<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CarmaLinkSDKTests" parallel="none" object-factory="org.powermock.modules.testng.PowerMockObjectFactory"c>
  <test name="All">
    <classes>
      <class name="com.carmasys.carmalinksdk.ConfigTest"/>
      <class name="com.carmasys.carmalinksdk.CarmaLinkTest"/>
      <class name="com.carmasys.carmalinksdk.ConfigTypeTest"/>
      <class name="com.carmasys.carmalinksdk.CarmaLinkAPITest"/>
    </classes>
  </test> <!-- All -->
</suite> <!-- CarmaLinkSDKTests -->
