---
http_interactions:
- request:
    method: get
    uri: https://api.carmalink.com:8282/v1/534/report_config/overspeeding
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="CU1ND7JdJqYM2LtBsv7GLN0i", oauth_nonce="5CwsS4npVFZoTlGjZsxZJtYC4qBP44o0oECVll5s",
        oauth_signature="XA8%2BOxS4SjKfi26fTyLjCGWX6mg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1360181377", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"threshold":120,"allowance":5000,"location":true,"buzzer":"HIGH","status":"ACTIVATED","configId":1247}'
  recorded_at: Wed, 06 Feb 2013 20:09:38 GMT
- request:
    method: put
    uri: https://api.carmalink.com:8282/v1/541/report_config/hard_accel
    body:
      encoding: UTF-8
      string: ! '{"threshold":10,"allowance":0,"buzzer":"OFF","location":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_body_hash="OaNSrgXDbyI%2BFO0%2Bj%2BnqS0jlKXg%3D", oauth_consumer_key="CU1ND7JdJqYM2LtBsv7GLN0i",
        oauth_nonce="sX75EXjTH2TI1aSrlCns2ELyiAYfEABIAmJct5k", oauth_signature="LJKuWlsPfCT0mO0EHw4DhsEYY2Y%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1360268497", oauth_version="1.0"
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 07 Feb 2013 20:21:37 GMT
recorded_with: VCR 2.4.0
