---
http_interactions:
- request:
    method: get
    uri: https://api.carmalink.com:8282/v1/541/data/overspeeding
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="CU1ND7JdJqYM2LtBsv7GLN0i", oauth_nonce="xsILkYxEtNV44tE9vaWqlqnqdMvUHtIwMvw4MXxMYNo",
        oauth_signature="uSoxLQcQDlMK0dsNNwxqofAzhmA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1360265044", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"configId":1275,"serial":541,"eventStart":1359820755727,"reportTimestamp":1359820762999,"duration":7272,"location":{"longitude":-73.7876984,"latitude":42.6359363,"accuracy":3.4380002,"heading":121.19963,"speed":120},"maxSpeed":125},{"configId":1275,"serial":541,"eventStart":1359820694625,"reportTimestamp":1359820735759,"duration":41134,"location":{"longitude":-73.7973387,"latitude":42.6404783,"accuracy":3.1020002,"heading":122.31071,"speed":120},"maxSpeed":124},{"configId":1275,"serial":541,"eventStart":1359820631097,"reportTimestamp":1359820635336,"duration":4239,"location":{"longitude":-73.82783069999999,"latitude":42.6611419,"accuracy":3.157,"heading":138.63295,"speed":120},"maxSpeed":122},{"configId":1275,"serial"[...]
- request:
    method: get
    uri: https://api.carmalink.com:8282/v1/541/data/overspeeding?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="CU1ND7JdJqYM2LtBsv7GLN0i", oauth_nonce="9vIDaHlxYFqtYjbY0gjr6mex6hLZcVyqXDoYyimxK8",
        oauth_signature="3BKDr1gg7cHBaEQx97O3dYD6cm8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1360265045", oauth_version="1.0"
  response:
    status:
      code: 200
   [...]
